# Estado de Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Logs
crash.log
crash.*.log

# Variables sensibles
*.tfvars
*.tfvars.json

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json